@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .style-script-regular {
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
  }

  .ephesis-regular {
    font-family: "Ephesis", serif;
    font-weight: 400;
    font-style: normal;
  }
}
